<div class="container mx-auto">
  <table class="w-full">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for(data of listProducts; track data.id) {
      <tr class="text-center">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.price }}</td>
        <td class="w-10"><img src="{{ data.main_image_url }}" alt="" /></td>
        <td class="d-flex">
          <button
            class="border-2 p-1 mx-2 rounded-md hover:bg-stone-200"
            (click)="onDelete(data.id)"
          >
            Delete
          </button>
          <button
            class="border-2 p-1 mx-2 rounded-md hover:bg-stone-200"
            [routerLink]="['update', data.id]"
          >
            Edit
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
