<div class="container mx-auto">
  <h1 class="font-bold text-2xl text-center my-10">Create Products</h1>
  <form #createForm="ngForm" (ngSubmit)="onCreate(createForm.value)">
    <div>
      <div class="name my-5">
        <label for="name" class="px-10">Name Product</label>
        <input
          type="text"
          name="name"
          id="name"
          ngModel
          required
          minlength="3"
          maxlength="10"
          class="border-2 rounded-lg"
        />
      </div>
      <div class="price my-5">
        <label for="price" class="px-10">Price Product</label>
        <input
          type="text"
          name="price"
          id="price"
          ngModel
          required
          minlength="3"
          maxlength="10"
          class="border-2 rounded-lg"
        />
      </div>
    </div>
    <div class="text-center">
      <input type="submit" class="bg-stone-500 w-20" value="Thêm mới" />
    </div>
  </form>
</div>
