<nav class="navigation">
  <ul class="flex">
    <li class="px-2">
      <a
        class="text-white"
        routerLink="/dashboard"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >DashBoard</a
      >
    </li>
    <li class="px-2">
      <a
        class="text-white"
        routerLink="/products"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Product Us</a
      >
    </li>
    <li class="px-2">
      <a
        class="text-white"
        routerLink="/contact"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Contact</a
      >
    </li>
    <li class="px-2">
      <a
        class="text-white"
        routerLink="/news"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >News</a
      >
    </li>
    <li class="px-2">
      <a
        class="text-white"
        routerLink="/login"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Login</a
      >
    </li>
    <li class="px-2">
      <a
        class="text-white"
        routerLink="/register"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Register</a
      >
    </li>
  </ul>
</nav>
